{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-xs btn-success">
        <i class="fa-solid fa-check"></i> {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}
