$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";


body {
    background-color: skyblue;
}

.center {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.entity_form {
    display: inline;
}

.page-title {
    margin: 10px 0px 10px 0px;
}

.table-responsive {
    max-height:450px;
}

.sticky-header {
    position: sticky;
    top: 0;
}

.search-input {
    width: 33%;
    margin-top: 10px;
    margin-right: 33%;
    margin-bottom: 10px;
    margin-left: 33%;
}

.list-proposition:hover {
    cursor: pointer;
    background-color: $primary;
    color: #fff;
}

.prop-selected {
    background-color: $primary;
    color: #fff;
}

.hidden {
    display: none;
}