{% extends 'base.html.twig' %}

{% block title %}Modifier équipe{% endblock %}

{% block body %}
    <h1>Modifier équipe</h1>
    <div class="container">
        <div class="row">
            {{ include('equipe/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('equipe/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
