{% extends 'base.html.twig' %}

{% block title %}Modifier équipe{% endblock %}

{% block body %}
    <h1 class="center page-title">Modifier équipe</h1>
    <div class="container">
        <div class="row">
            {{ include('equipe/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
{% endblock %}
