{% extends 'base.html.twig' %}

{% block title %}Modifier équipe{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Modifier équipe</h1>
            {{ include('equipe/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('app_equipe_index') }}">back to list</a>

            {{ include('equipe/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
